@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: rgb(214, 212, 212);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;

}
